* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main_1);
}

:root {
    --main_1: #b6b6b6;
    --main_2: black;
    --borderSize: 30px;
    --gap: 15px
}

.main {
    background-color: var(--main_1);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gap);
    height: 720px;
}


.featur-card {
    width: 100%;
    background-image: url('/xcube_1.png');
    background-size: cover;
    border-radius: var(--borderSize);
    border: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}


.main .right-card {
    width: 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

}
