* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main_1: #b6b6b6;
    --main_2: black;
    --borderSize: 30px;
    --gap: 15px
}

.main {
    background-color: var(--main_1);
    width: 100%; 
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gap);
    height: 720px;
}
 

.featur-card {
    width: 100%; 
    background-image: url('/xcube_1.png');
    background-size: cover;
    border-radius: var(--borderSize);
    border: none;
    position: relative;
}


.main .right-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);

}

.right-card .productT-card {
    width: 100%;
    max-height: 342px;
    min-height: 342px;

    background-image: url('/dmooster_1.png');
    background-size: cover;
    border-radius: var(--borderSize);
}

.right-card .productB-card {
    width: 100%;
    max-height: 342px;
    min-height: 342px;

    background-image: url('/xcube_3.png');
    background-size: cover;
    border-radius: var(--borderSize);
}

/*  */
 
.feature-description {
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    letter-spacing: 1.5px;
    word-spacing: 20px;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
}