.featur-card .brand-icon {
    border-radius: 200px;
    border: none;
    overflow: hidden;
    width: 70px;
    height: 70px;
    color: white;
    border: 15px solid var(--main_1);
    position: absolute;
    top: -15;
    left: -15;

}

.brand-icon img {
    width: 100%;
}

.brandBox {
    position: relative;


}


.brandBox .box3 {
    border-top: 12px solid var(--main_1);
    border-left: 12px solid var(--main_1);
    border-top-left-radius: 42px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -12px;
    left: 43px;
}

.brandBox .box4 {
    border-top: 12px solid var(--main_1);
    border-left: 12px solid var(--main_1);
    border-top-left-radius: 42px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 43px;
    left: -12px;
}