.titleBox { 
    position: absolute;
    top: 70%;
    padding-left: 30px;

}

.feature-description {
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    letter-spacing: 1.5px;
    word-spacing: 20px;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
}